.title {
    text-align: center;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.widthPage{
    width: 40vw;
}
.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 250px;
}

.centerPage{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}