.title {
    text-align: center;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.widthPage{
    width: 40vw;
}

.centerPage{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}